h2{
    margin: 0;
}
.caja{
    width: 300px;
    padding: 16px;
    margin: 16px auto;
}
#texto1{
    background-color: lightblue;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    text-align-last: center;
}
#texto1 span{
    text-decoration: underline;
    text-decoration-color: #FFFF00;
    text-decoration-thickness: 4px;
    font-weight: 600;
    text-transform: uppercase;
}
#texto2{
    background-color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 170%;
    letter-spacing: 2px;
}
#texto3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgreen;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#texto3:hover{
    white-space: wrap;
}1