body{
    margin: 0;
    background-color: #232323;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contenedor{
    background-color: white;
    width: 70vw;
    margin: 0 auto;
    min-height: 100vh;
}
header{
    
}