body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
}
#cont{
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
}
header img{
    width: 350px;
}
header{
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 2.5em;
    color:cornflowerblue;
}
nav{
    background-color: cornflowerblue;
    margin: 1em 0;
    position: sticky;
    top: 0;
    z-index: 20;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 1em;
    display: inline-block;
    transition: 0.3s;
}
nav a:hover{
    background-color:  rgb(42, 69, 119);
}
main{
    padding: 0 2rem;
    font-size: 0;
}
main img{
    width: 30%;
    vertical-align: top;
}
main span{
    font-size: 1rem;
    width: 70%;
    display: inline-block;
}
#accion{
    background-color: cornflowerblue;
    margin: 1em 0;
    text-align: center;
    padding: 1em;
    font-size: 2em;
    color: white;
}
#accion a{
    background-color: white;
    color: cornflowerblue;
    text-decoration: none;
    padding: 0.5em;
}
#accion a:hover{
    background-color: cornflowerblue;
    color: white;
}
#testimonios{
    padding: 0 2rem;
    font-size: 0;
    text-align: center;
}
#testimonios > div > img{
    display: block;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 1s;
    cursor: pointer;
}
#testimonios > div{
    font-size: 1rem;
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
#testimonios > div > span{
    font-size: 1.5em;
    font-style: italic;
}
#testimonios > div > img:hover{
    filter: grayscale(0%);
}
section{
    padding: 0 2em;
    margin: 2em 0
}
footer{
    background-color: rgb(87, 87, 87);
    color: white;
    padding: 2em;
}
footer img{
    width: 50px;
}