*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}
header, nav, main, footer{
    width: 80vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: seagreen;
    font-size: 2.5em;
}
nav{
    flex-direction: row;
    gap: 1em;
    background-color: lightseagreen;
}
nav a{
    text-decoration: none;
    color: inherit;
}
main{
    flex-grow: 1;
    background-color: white;
}
footer{
    background-color: seagreen;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
form input{
    padding: 0.3em;
    border-radius: 0.3em;
}