*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}
header, nav, main, footer{
    width: 80vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: seagreen;
    font-size: 2.5em;
}
nav{
    flex-direction: row;
    gap: 1em;
    background-color: lightseagreen;
}
nav a{
    text-decoration: none;
    color: inherit;
}
main{
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
footer{
    background-color: seagreen;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
form input{
    padding: 0.3em;
    border-radius: 0.3em;
}
.btn{
    display: flex;
    padding: 0.6em;
    width: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: lightseagreen;
    border: 0;
    outline: 0;
    border-radius: 0.2em;
    margin: 0 auto;
    font-size: 1rem;
    font-family: inherit;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(26, 152, 145);
}

.pop{
    padding: 0.5em;
    width: 80vw;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    display: none;
}
.pop#error{
    background-color: darkred;
    color: white;
}
.pop#msg{
    background-color: darkblue;
    color: white;
}